{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <video src="https://ader-films.s3.amazonaws.com/media/home-bckg.mp4" muted autoplay loop id="myVideo"></video>
    <div class="overlay"></div>
    
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-12 col-md-10 text-center mt-5">
                <div class="glass-panel">
                    <h1 class="display-4 logo-font text-white mb-4">
                        ADER FILMS
                    </h1>
                    <p class="lead text-white mb-4">
                    Found in 2019, Ader Films is a production house with a leading high quality picture aiming to grow in the coming years.
                    The founder of Ader films, Jad Nehmeh of 35 years old, have experience since 2007 and worked with Short films,
                    Documentaries, Music vide clips and Advertising, as well as several other types of film production. 
                    </p>
                    <p class="lead text-white mb-4">
                    During the pandemic, Ader Films focused on transforming their footage into video stock. You can find videos and pictures
                    of high quality for you your personal or business use. We offer a variety of Aerial videography, slow motion video, 
                    timelapse video all in 4k video.
                    </p>
                    
                    <hr class="bg-light my-4">

                    <h2 class="logo-font text-white mb-3">
                        STOCK FOOTAGE
                    </h2>
                    <p class="text-white mb-4">
                        Every now and then we take some extra clips that you can buy and use for your projects.
                    </p>
                    <div class="my-4">
                        <h4>
                            <a href="{% url 'items' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 text-white">Shop Now</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mb-5">
            <div class="col-12 text-center">
                <div class="glass-panel">
                    <h2 class="logo-font text-white mb-4">
                        Check some of our work!
                    </h2>
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 my-2 center">
                            <iframe width="100%" height="295em" src="https://www.youtube.com/embed/TbKMOsnkXkA" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 my-2 center">
                            <iframe width="100%" height="295em" src="https://www.youtube.com/embed/p8lvgUz7aGI" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 my-2 center">
                            <iframe width="100%" height="295em" src="https://www.youtube.com/embed/Rn7Vyxyqb-I" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 my-2 center">
                            <iframe width="100%" height="295em" src="https://www.youtube.com/embed/CUHpRcD8DnM" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 my-2 center">
                            <iframe width="100%" height="295em" src="https://www.youtube.com/embed/3iB4x9i7PBk" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 my-2 center">
                            <iframe width="100%" height="295em" src="https://www.youtube.com/embed/0s3NJm7sk8E" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 my-2 center">
                            <iframe width="100%" height="295em" src="https://www.youtube.com/embed/SuKZfm8N96s" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 my-2 center">
                            <iframe width="100%" height="295em" src="https://www.youtube.com/embed/gwAzQvnxVZw" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 my-2 center">
                            <iframe width="100%" height="295em" src="https://www.youtube.com/embed/Ke7YqCKna6o" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 my-2 center">
                            <iframe width="100%" height="295em" src="https://www.youtube.com/embed/vL87TeJMruM" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 my-2 center">
                            <iframe width="100%" height="295em" src="https://www.youtube.com/embed/A1lmt6HJg5w" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 my-2 center">
                            <iframe width="100%" height="295em" src="https://www.youtube.com/embed/-1wfw4dl9hM" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 my-2 center">
                            <iframe width="100%" height="295em" src="https://www.youtube.com/embed/KsYREci6qSk" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 my-2 center">
                            <iframe width="100%" height="295em" src="https://www.youtube.com/embed/r0uDt8OK5tQ" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 my-2 center">
                            <iframe width="100%" height="295em" src="https://www.youtube.com/embed/-8VcFaFPCl8" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 my-2 center">
                            <iframe width="100%" height="295em" src="https://www.youtube.com/embed/DOIuCFvbg9c" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 my-2 center">
                            <iframe width="100%" height="295em" src="https://www.youtube.com/embed/zB4QcGjIAOU" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 my-2 center">
                            <iframe width="100%" height="295em" src="https://www.youtube.com/embed/O4YEotJKLm0" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}