asgiref==3.9.1
boto3==1.24.22
botocore==1.27.96
dj-database-url==3.0.1
Django==5.2.4
django-allauth==65.10.0
django-countries==7.6.1
django-crispy-forms==2.4
django-storages==1.14.6
gunicorn==20.1.0
jmespath==1.0.1
packaging==25.0
pillow==10.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
s3transfer==0.6.2
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.1
urllib3==1.26.20
wheel==0.45.1
